<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="container">
      <header class="header-container">
        <a href="/" class="main-menu-link">Go Back to Main Menu</a>
        
      </header>
      <header>
          <h1>About <%=shopName%></h1>
      </header>
      <section>
        <p>Welcome to <%=shopName%> Shop, where our passion for books meets the diverse tastes of our valued readers. Here, we have crafted a haven for book enthusiasts, providing a rich and immersive experience in the world of literature.</p>

        <p>At <%=shopName%> Shop, we take pride in offering a curated collection of books that spans various genres, ensuring there's something for everyone. Whether you are a fan of thrilling mysteries, heartwarming dramas, or mind-bending science fiction, our shelves are stocked to cater to your literary cravings.</p>

        <p>Our user-friendly platform allows you to explore and discover new reads seamlessly. You can navigate through different sections, engage in discussions, and share your insights with a community of like-minded individuals. <%=shopName%> Shop is more than just a bookstore; it's a vibrant space where the solitary act of reading transforms into a communal and enriching experience.</p>

        <p>Join us in celebrating the joy of literature and connecting with fellow book lovers. Personalize your profile, discover tailored book recommendations, and embark on a literary journey that transcends the pages of a book. BookNest is not just a platform; it's a community united by a shared passion for stories and ideas.</p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>At <%=shopName%> Shop, our mission is to inspire and foster a love for reading. We believe in the transformative power of books and their ability to open minds, spark imaginations, and connect people across cultures. Through our carefully curated collection, we aim to provide a gateway to diverse worlds, ideas, and perspectives.</p>
    </section>

    <section>
        <h2>Community Involvement</h2>
        <p>We are committed to building a thriving literary community. <%=shopName%> Shop actively participates in local book clubs, events, and initiatives that promote literacy and a shared love for reading. We believe in the impact of literature on community bonds and strive to contribute positively to the cultural and intellectual fabric of our locality.</p>
    </section>

    <section>
        <h2>Commitment to Quality</h2>
        <p>Quality is at the heart of everything we do. From selecting the latest releases to offering timeless classics, we are dedicated to providing our readers with books of the highest quality. Our commitment extends beyond the pages—every aspect of your experience at <%=shopName%> Shop reflects our dedication to excellence.</p>
    </section>
  </div>
  </body>
</html>